.Header {
	box-sizing: border-box;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0);
	color: white;
	margin-bottom: 10px;
}

a:link {
	color: rgb(0, 0, 0);
}

a:visited {
	color: green;
}
